
<div class="row">
    <% @lifehacks.each do |lifehack| %>
    <div class="panel large-12 columns clearfix">
       <table>
        <thead>
          <tr>
            <th>
            <h5 class="lifehack_link"><%= link_to lifehack.title, lifehack_path(lifehack) %></h5>
          </th>
          </tr>
        </thead>
        <tbody>
          <tr><td class="lifehack-description"><%= lifehack.short_description %></td></tr>
          <tr>
            <td>Updated: <%= time_ago_in_words(lifehack.updated_at)%> ago</td>
            <td>Submitted By:
              <td class="creator-name"><%= link_to lifehack.creator.full_name,
                user_path(lifehack.creator) %></td>
            </td>
              <td class="creator-image">
                <%= image_tag(lifehack.creator.profile_photo, :class => "profile-img-index") %>  </td>
              </td>
            <td>Number of Ratings: <%= lifehack.reviews.count %></td>
            <td>Average Rating: <%= lifehack.avg_review_rating %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
