<%= @lifehacks.length %> result(s) found

<%= link_to 'Back to Index', lifehacks_path %>

<hr />
Advanced Search:
<div class="advanced-search">
  <%= form_tag(search_lifehacks_path, method: "get") do %>
    <%= text_field_tag :"search[title]", nil, placeholder: 'title' %>
    <%= text_field_tag :"search[description]", nil, placeholder: 'description' %>
    <%= text_field_tag :"search[user]", nil, placeholder: 'user' %>
    <%= submit_tag("Advanced Search") %>
  <% end %>
</div>
<hr />

<%= render @lifehacks %>
