
<h5><%= @lifehack.title %></h5>
<p>
  <%= @lifehack.url %>
  <%= @lifehack.description %>
  <%= "#{@lifehack.creator.first_name} #{@lifehack.creator.last_name}" %>
  <%= "#{@lifehack.avg_review_rating}" %>
  <%= "#{@lifehack.reviews.count}" %>
</p>

<%= link_to 'Home', lifehacks_path %>
<% if !@lifehack.reviews.empty? %>
  <%= render @reviews %>
<% else %>
  No reviews yet!
<% end %>

<%= link_to 'Add Review', new_lifehack_review_path(@lifehack) %>

<% if @lifehack.creator == current_user || current_user.admin? %>
  <div class="lifehack-admin-panel">
    <%= link_to 'Edit Lifehack', edit_lifehack_path(@lifehack) %>
    <%= button_to 'Delete Lifehack', @lifehack, { method: :delete} %>
  </div>
<% end %>
