<<<<<<< HEAD
<div class="row">
  <ul class="button medium">
    <%= link_to 'Home', lifehacks_path %>
  </ul>
  <ul class="button medium">
    <% if user_signed_in? %>
    <%= link_to 'Add Review', new_lifehack_review_path(@lifehack) %>
    <% if current_user.admin? %>
    <div class="lifehack-admin-panel">
      <%= button_to "Delete Lifehack", lifehack_path, method: :delete %>
    </div>
    <% end %>
    <% else %>
    You must sign in to add a review
    <% end %>
  </ul>
</div>
  <div class="panel lifehack_title large-12 columns ">
    <h2><%= @lifehack.title %></h2>
  </div>
  <div class="row description">
    <table>
      <thead>
        <tr>
          <th>Created By:</th>
          <th># of Reviews:</th>
          <th>Average Rating:</th>
          <th>Updated:</th>
        </tr>
      </thead>
      <tr>
        <td><%= @lifehack.creator.full_name %></td>
        <td><%= @lifehack.reviews.count %></td>
        <td><%= @lifehack.avg_review_rating %></td>
        <td><%= time_ago_in_words(@lifehack.updated_at)%> ago</td>
      </tr>
    </table>
    <p><%= @lifehack.description %></p>
    <p><%= @lifehack.url %></p>
  </div>
</div>


<% if !@lifehack.reviews.nil? %>
  <%= render @reviews %>
<% else %>
  No reviews yet!
<% end %>
