
<h5><%= @lifehack.title %></h5>
<p>
  <%= @lifehack.description %>
  <%= @lifehack.creator.full_name %>
  # of Reviews: <%= @lifehack.reviews.count %>
  Average Rating: <%= @lifehack.avg_review_rating %>
  Updated: <%= time_ago_in_words(@lifehack.updated_at)%> ago

</p>

<%= link_to 'Home', lifehacks_path %>

<% if user_signed_in? %>
  <%= link_to 'Add Review', new_lifehack_review_path(@lifehack) %>
  <% if current_user.admin? %>
    <div class="lifehack-admin-panel">
      <%= button_to "Delete Lifehack", lifehack_path, method: :delete %>
    </div>
  <% end %>
<% else %>
  You must sign in to add a review
<% end %>

<% if !@lifehack.reviews.nil? %>
  <%= render @reviews %>
  <%= paginate @reviews %>
<% else %>
  No reviews yet!
<% end %>
