
<h5><%= @lifehack.title %></h5>
<p>
  <%= @lifehack.url %>
  <%= @lifehack.description %>
  <%= "#{@lifehack.creator.first_name} #{@lifehack.creator.last_name}" %>
</p>

<%= link_to 'Home', lifehacks_path %>

<% if user_signed_in? %>
  <%= link_to 'Add Review', new_lifehack_review_path(@lifehack) %>
  <% if current_user.admin? %>
    <div class="lifehack-admin-panel">
      <%= button_to "Delete Lifehack", lifehack_path, method: :delete %>
    </div>
  <% end %>
<% else %>
  You must sign in to add a review
<% end %>

<% if !@lifehack.reviews.nil? %>
  <%= render @reviews %>
  <%= paginate @reviews %>
<% else %>
  No reviews yet!
<% end %>
