
<h5><%= @lifehack.title %></h5>
<p>
  <%= @lifehack.description %>
  <%= "#{@lifehack.creator.first_name} #{@lifehack.creator.last_name}" %>
</p>

<%= link_to 'Home', lifehacks_path %>
<%= link_to 'Add Review', new_lifehack_review_path(@lifehack) %>
<%= link_to 'Update Review', lifehack_review_path(@lifehack) %>

<% if @lifehack.creator == current_user || current_user.admin? %>
  <div class="lifehack-admin-panel">
    <%= link_to 'Edit Lifehack', edit_lifehack_path(@lifehack, review), { method: :edit} %>
    <%= button_to 'Delete Lifehack', @lifehack, { method: :delete} %>
  </div>
<% end %>

<% if !@lifehack.reviews.nil? %>
  <%= render @reviews %>
  <%= paginate @reviews %>
<% else %>
  No reviews yet!
<% end %>
