<%= form_for [@lifehack, @review] do |f| %>

  <div class="rating">
    <%= f.label :rating %>
    <%= f.collection_radio_buttons(:rating, @rating_list, :to_i, :to_i) %>
  </div>
  <%= f.label :comment %>
  <%= f.text_field :comment %>

  <%= f.hidden_field :creator, value: current_user %>
  <div class="actions">
    <%= f.submit 'Add Review', class: 'button'%>
  </div>

<% end %>
