<div class="review review-<%= review.id %>">
  Rating: <%= review.rating %>
  Comment: <%= review.comment %>
  User:
  Created At: <%= review.created_at.strftime("%m/%d/%Y") %> <%= review.created_at.strftime("%I:%M%p") %>
  Updated At: <%= review.updated_at.strftime("%m/%d/%Y") %> <%= review.updated_at.strftime("%I:%M%p") %>

  <div class="score">
    Score: <%= review.sum_score %>
  </div>

  <% if user_signed_in? %>
    <% if current_user.has_vote?(review) %>
      <div class="vote_buttons_update">
        <%= button_to '+1', review_vote_path(review, current_user.find_vote_for_review(review)), method: :patch,
          params: { :"vote[review_id]" => review.id, :"vote[score]" => 1 }, class: 'vote' %>
        <%= button_to '-1', review_vote_path(review, current_user.find_vote_for_review(review)), method: :patch,
          params: { :"vote[review_id]" => review.id, :"vote[score]" => -1 }, class: 'vote' %>
      </div>
    <% else %>
      <div class="vote_buttons_create">
        <%= button_to '+1', review_votes_path(review),
          params: { :"vote[review_id]" => review.id, :"vote[score]" => 1 }, class: 'vote' %>
        <%= button_to '-1', review_votes_path(review),
          params: { :"vote[review_id]" => review.id, :"vote[score]" => -1 }, class: 'vote' %>
      </div>
    <% end %>
      <% if current_user.admin? %>
        <div class="review-admin-panel">
          <%= button_to "Delete Review", lifehack_review_path(@lifehack, review), method: :delete %>
        </div>
      <% end %>
  <% end %>

</div>
