<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
       <ul class="title-area">
         <li class="name">
           <h1><%= link_to 'LifeHacks', root_path %></h1>
         </li>
         <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
       </ul>

    <section class="top-bar-section">
     <!-- Right Nav Section -->
     <ul class="right">
       <% if user_signed_in? %>
         <li>
           <% if current_user.admin? %>
             <%= link_to 'Admin Access', users_path %>
           <% end %>
         </li>
         <li>
           <div class="profile-info">
             <%= link_to 'Welcome ' + current_user.first_name, user_path(current_user), :class => "profile_name" %>
             <%= image_tag(current_user.profile_photo, :class => "profile_img") %>
           </div>
         </li>
         <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
       <% else %>
         <li><%= link_to 'Sign In', new_user_session_path %></li>
         <li><%= link_to 'Sign Up', new_user_registration_path %></li>
       <% end %>
     </ul>
     <ul class="right" id="search-bar">
       <li class="has-form">
         <!-- <div class="row collapse"> -->
           <div class="small-10 columns">
             <li class="divider show-for-small"></li>
              <li class="has-form">
             <%= form_tag(search_lifehacks_path, method: "get") do %>
             <%= text_field_tag(:"search[all]", nil, placeholder: "enter keyword", id: "search-all") %>
              <div>
                <%= submit_tag("Search", :class => "button")%>
                  <div class="button">
                    <%= link_to 'Advanced', search_lifehacks_path(search: {all: ""}) %>
                  </div>
              </div>
           </li>
            </div>
           <% end %>
         </li>
    </ul>
    </section>
    </nav>

    <div class="messages">
      <% flash.each do |type, message| %>
        <div class="flash flash-<%= type %>">
          <%= message %>
        </div>
      <% end %>
    </div>

    <div class="flash flash-ajax">
    </div>

    <div class="row">
      <%= yield %>
    </div>

  </body>
</html>
