<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
       <ul class="title-area">
         <li class="name">
           <h1><%= link_to 'LifeHacks', root_path %></h1>
         </li>
         <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
       </ul>

    <section class="top-bar-section">
     <!-- Left Nav Section -->
     <ul class="left">
       <li class="has-form">
         <form>
           <div class="row collapse" >
             <div class="small-10 columns">
               <%= form_tag(search_lifehacks_path, method: "get") do %>
               <%= text_field_tag(:search) %>
             <div class="submit small-2 columns">
               <%= submit_tag("Search") %>
               <% end %>
             </div>
           </div>
         </form>
       </li>
     </ul>

     <!-- Right Nav Section -->
     <ul class="right">
       <% if user_signed_in? %>
        <li><img src="<%= current_user.profile_photo %>"></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to 'Sign In', new_user_session_path %></li>
      <li><%= link_to 'Sign Up', new_user_registration_path %></ul><li>
        <% end %>
     </ul>
    </section>

    <div class="row">
      <% flash.each do |type, message| %>
        <div class="flash flash-<%= type %>">
          <%= message %>
        </div>
      <% end %>
      <div class="flash flash-ajax">
      </div>
    </div>

    <div class="row">
      <%= yield %>
    </div>

  </body>
</html>
